# Exclude assets and build directories
assets/
build/

# Exclude old version archives
.old/
__pycache__/
# Launcher files
launcher.py
launcher.exe
branch.txt
version.txt
config.ini
Y1-helper.7z