# Exclude assets and build directories (recursive)
assets/
build/
.old/
__pycache__/
.cache/


# Launcher files
launcher.py
launcher.exe
branch.txt
version.txt
config.ini
Y1-helper.7z
cache.zip

# Exclude shortcut files
*.lnk
.cache.zip

# Exclude log files (optional - remove if you want to track them)
*.log

# Exclude temporary files
*.tmp
*.temp 